@unocss;

*,
::after,
::before {
  @apply border-border;

  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  @apply text-foreground bg-background font-sans text-[100%];

  font-variation-settings: normal;
  line-height: 1.15;
  text-size-adjust: 100%;
  font-synthesis-weight: none;
  scroll-behavior: smooth;
  text-rendering: optimizelegibility;
  -webkit-tap-highlight-color: transparent;

  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

#app,
body,
html {
  @apply size-full;

  /* scrollbar-gutter: stable; */
}

body {
  min-height: 100vh;
  margin: 0;

  /* pointer-events: auto !important; */

  /* overflow: overlay; */

  /* -webkit-font-smoothing: antialiased; */

  /* -moz-osx-font-smoothing: grayscale; */
}

a,
a:active,
a:hover,
a:link,
a:visited {
  @apply no-underline;
}

:root {
  --perspective: 400vmax; /* 透视距离 */
  --distance: -0.75; /* 3D距离 */
  --duration: 1.2s; /* 动画时长 */
  --ease: ease-in-out; /* 缓动函数 */
}

[data-theme-transition='3d'] {
  view-transition-name: theme-3d; /* 视图过渡名称 */
}

[data-theme-transition='normal'] {
  view-transition-name: theme; /* 视图过渡名称 */
}

/* 标准3D过渡动画 */
@keyframes travel {
  0% {
    transform: perspective(var(--perspective))
      translate3d(
        0,
        0,
        calc((var(--perspective) * var(--distance)) * var(--depth-start))
      )
      rotateY(var(--rotation-start, 0deg))
      translate3d(0, 0, calc(50vw * var(--depth-start)));
    animation-timing-function: ease-in;
  }

  25% {
    transform: perspective(var(--perspective))
      translate3d(0, 0, calc(var(--perspective) * var(--distance)))
      rotateY(var(--rotation-start, 0deg)) translate3d(0, 0, 50vw);
    animation-timing-function: var(--ease);
  }

  75% {
    transform: perspective(var(--perspective))
      translate3d(0, 0, calc(var(--perspective) * var(--distance)))
      rotateY(var(--rotation-end, -90deg)) translate3d(0, 0, 50vw);
    animation-timing-function: var(--ease);
  }

  100% {
    transform: perspective(var(--perspective))
      translate3d(
        0,
        0,
        calc((var(--perspective) * var(--distance)) * var(--depth-end))
      )
      rotateY(var(--rotation-end, 0deg))
      translate3d(0, 0, calc(50vw * var(--depth-end)));
    animation-timing-function: var(--ease);
  }
}

::view-transition-new(theme-3d),
::view-transition-old(theme-3d) {
  transform: perspective(var(--perspective)) translate3d(0, 0, 0);
  animation: travel var(--duration); /* 应用动画 */
  backface-visibility: hidden; /* 隐藏背面 */
}

::view-transition-new(theme-3d) {
  --rotation-start: 90deg; /* 初始旋转角度 */
  --rotation-end: 0deg; /* 结束旋转角度 */
  --depth-start: 1; /* 初始深度 */
  --depth-end: 0; /* 结束深度 */
}

::view-transition-old(theme-3d) {
  --depth-end: 1; /* 结束深度 */
  --depth-start: 0; /* 初始深度 */
  --rotation-start: 0deg; /* 初始旋转角度 */
  --rotation-end: -90deg; /* 结束旋转角度 */
}

::view-transition-new(theme),
::view-transition-old(theme) {
  @apply animate-none mix-blend-normal;
}

::view-transition-old(theme) {
  @apply z-[1];
}

::view-transition-new(theme) {
  @apply z-[2147483646];
}

html.dark::view-transition-old(theme) {
  @apply z-[2147483646];
}

html.dark::view-transition-new(theme) {
  @apply z-[1];
}

input::placeholder,
textarea::placeholder {
  @apply opacity-100;
}

/* input:-webkit-autofill {
  @apply border-none;

  box-shadow: 0 0 0 1000px transparent inset;
} */

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  @apply m-0 appearance-none;
}

/* 只有非mac下才进行调整，mac下使用默认滚动条 */
html:not([data-platform='macOs']) {
  ::-webkit-scrollbar {
    @apply h-[10px] w-[10px];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-border rounded-sm border-none;
  }

  ::-webkit-scrollbar-track {
    @apply rounded-sm border-none bg-transparent shadow-none;
  }

  ::-webkit-scrollbar-button {
    @apply hidden;
  }
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-col-center {
  @apply flex flex-col items-center justify-center;
}

.outline-box {
  @apply outline-border relative cursor-pointer rounded-md p-1 outline outline-1;
}

.outline-box::after {
  @apply absolute left-1/2 top-1/2 z-20 h-0 w-[1px] rounded-sm opacity-0 outline outline-2 outline-transparent transition-all duration-300 content-[""];
}

.outline-box.outline-box-active {
  @apply outline-primary outline outline-2;
}

.outline-box.outline-box-active::after {
  display: none;
}

.outline-box:not(.outline-box-active):hover::after {
  @apply outline-primary left-0 top-0 h-full w-full p-1 opacity-100;
}

.adp-link {
  @apply text-primary hover:text-primary-hover active:text-primary-active cursor-pointer;
}

.card-box {
  @apply bg-card text-card-foreground border-border rounded-xl border;
}

html.invert-mode {
  @apply invert;
}

html.grayscale-mode {
  @apply grayscale;
}

button {
  cursor: pointer;
  background-color: transparent;
}

p,
ol,
ul,
button {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* 去除系统代理样式表样式 */
dd {
  margin-inline-start: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input {
  outline: none;
}
