
/**
 ######################################################
 ###########  InterfaceFunction transition  ###########
 ######################################################
 */
.interface-function-move,
.interface-function-enter-active,
.interface-function-leave-active {
    --uno: transition-all-300;
}

.interface-function-enter-from,
.interface-function-leave-to {
    --uno: opacity-0 -translate-x-30px;
}

.interface-function-leave-active {
    --uno: absolute;
}


/**
 ######################################################
 ###################  Dark Menu  ######################
 ######################################################
 */
.dark-menu-enter-active,
.dark-menu-leave-active {
    --uno: h-22px transition-all-300;
}

.dark-menu-enter-from,
.dark-menu-leave-to {
    --uno: translate-x-20px opacity-0 h-0;
}
